<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="resume">
    <div class="top-bar">
      <span class="name">Muhammed Fazlullah H</span>
      <div class="info">
        <span>+91 8883051321</span><br>
        <span>fazl561@outlook.com</span>
      </div>
    </div>
    <div class="main-content">
      <div class="professional-summary flex">
        <h2>Professional Summary</h2>
        <div>
          An Quality Assurance Engineer with the hands Three years of experience in Heavy Machineries and
          aerospace industries and working towards the resolving problems and improve customer satisfications
        </div>
      </div>
      <div class="working-history flex">
        <h2>Working History</h2>
        <div>
          <h4>Quality Assurance Engineer - PI private Limited, Coimbatore</h4>
          <h4>August 2018 - April 2021</h4>
          <ul class="roles">
            <li>Evaluate Components and final products against quality standards and manufacturing specifications.</li>
            <li>Reporting and Monitoring frequent issues to relevant deparments and conducts MOM to prevent those issues
              in future</li>
            <li>Creating Baloon drawings and PDI reports</li>
            <li>Creating process plan and control plans</li>
            <li>Maintaining 5S and Kaizen sysytems</li>
            <li>Preparing Calibration plans and schedules in order to ensure accurarcy of the measuring instruments</li>
          </ul>
        </div>
      </div>
      <div class="skills flex">
        <h2>Skills</h2>
        <ul class="skillsets">
          <li>Quality Management</li>
          <li>Failure Mode Effective Analysis</li>
          <li>Online inspections</li>
          <li>PTC- creo</li>
          <li>Kaizen Implementations</li>
          <li>5s Implementations</li>
        </ul>
      </div>
      <div class="qualifications flex">
        <h2>Qualifications</h2>
        <div class="bg">
          <span class="title">B.E - Mechanical Engineering - University College of Engineering,Thirukkuvalai</span>
          <span>May 2018</span>
        </div>
        <div class="bg"><span class="title">HSC - Computer Science - National Higher Secondary School - Nagapattinam</span>
          <span>May 2018</span>
        </div>
        <div class="bg"> <span class="title">SSLC - General - National Higher Secondary School - Nagapattinam</span>
          <span>May 2018</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>